:root{
  --light_color : #F4F6F7;
  --main_color : #34495E;
  --golden_color : #D4AC0D;
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
}

.nav{
  background-color: var(--light_color);
  padding: 1rem 6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.nav::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--light_color);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -25px;
  z-index: -1;
  box-shadow: -0px -0px -8px rgba(0,0,0,0.5);
}

.nav .navLink{
  text-decoration: none;
  color: var(--main_color);
  letter-spacing: 1px;
  position: relative;
  padding: 2px;
  transition: all .5s ease;
}

.nav .logo .navLink {
  color : var(--golden_color);
  font-size: 18px;
  /* letter-spacing: 1px; */
  text-transform: capitalize;
  font-weight: 500;
  
}

.navLink::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    background-color: var(--golden_color);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    transition: all .5s ease;
}

.navLink.active::before{
    width: 25px;
}

.training_heading h6{
  font-size: 18px;
  letter-spacing: .6px;
  position: absolute;
  left: 45.5%;
  top: 33%;
  transform: translate(-50% -50%);
}

.navLinks .navLink{
  margin: 0px 10px;
  color: var(--main_color);
  font-weight: 500;
}

/* ============== pageContainer ============ */
.pageContainer{
  /* background-color: red; */
  /* width: 100%; */
  /* height: 90vh; */
  padding: 5rem 6rem;
}

/* =================== home_component ============ */
.home_component h1{
  color: var(--golden_color);
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 1px;
}

.home_component p{
  font-size: 18px;
  /* font-weight: 600; */
  /* color: rgba(255, 255, 255, 0.5); */
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  color: red;
}

.home_component p span{
  margin: 0px 10px;
  letter-spacing: 1px;
}
.home_component p span.date_span{
  color: #fff;
}
.home_component p span.time_span{
  color: var(--golden_color)
}

.coutUsers{
  background-color: var(--light_color);
  padding: 6px 30px;
  border-radius: 2rem;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 2rem;
  font-size: 18px;
  color: var(--main_color);
  font-weight: 600;
}

.coutUsers span{
  color: var(--golden_color);
  margin-left: 10px;
}

/* =================== card ================ */
.card{
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card_header{
  padding: 6px 10px;
  border-bottom: 1px solid #ccc;
  color: var(--main_color);
  font-weight: 500;
  letter-spacing: .6px;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
}

.backBtn{
  padding: 6px 20px 4px 20px;
  border: none;
  background-color: #D4AC0D;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.card_body{
  padding: 20px;
}

/* ============= table =========== */
table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background-color: #ccc;
  /* padding: 6px; */
}

thead tr th{
  padding: 10px;
  color: var(--main_color);
  text-align: left;
}
/* tbody tr {
  border: 1px solid var(--golden_color) !important;
} */
tbody tr td{
  padding: 10px;
  border-bottom: .1px solid var(--golden_color);
  letter-spacing: .6px;
  font-weight: 500;
  color: var(--main_color);
}
tbody tr:last-child td{
  border: none;
}

tbody tr td h4{
  color: var(--golden_color);
  margin-bottom: 10px;
}

tbody tr td h5{
  color: var(--main_color);
  opacity: 0.8;
  letter-spacing: 1px;
}

tbody tr td h6{
  color: #555;
  letter-spacing: 1px;
}

tbody tr td h5 span,
tbody tr td h6 span{
  color: red;
  margin-right: 8px;
}

tbody tr td p{
  color: #666;
  text-transform: capitalize;
  font-size: 14px;
}


/* =================== form ==================== */
form{
  /* background-color: red; */
  text-align: center;
  background-color: var(--light_color);
  padding: 20px;
  border-radius: 8px;
}

 form input{
   width: 40%;
   padding: 10px 20px;
   /* margin-bottom: 1rem; */
   margin-bottom: 0px;
   border-radius: 2rem;
   font-size: 12px;
   border: none;
   outline: none;
   background-color: #fff;
   color: var(--main_color);
   font-weight: 500;
   border: 1px solid var(--golden_color);
   transition: all .5s ease;
 }

 form div{
   margin-bottom: 1rem;
 }

 form .error{
   color: red;
   font-size: 14px;
   letter-spacing: .6px;
   margin-top: 0px;
   transition: all .5s ease;
 }

 .alert{   
   padding: 8px 10px;
   display: inline-block;
   color: var(--light_color);
   letter-spacing: 1px;
   font-weight: 400;
   border-radius: 6px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
   transition: all .5s ease;
 }

 .alert_danger{
  background-color: red;
 }

 .alert_success{
    background-color: green;
 }

 form input:focus{
   border-bottom: 4px solid var(--golden_color);
 }

 form  .submitBtn{
   background-color: var(--main_color);
   color: var(--light_color);
   letter-spacing: 1px;
   border: none;
   line-height: 35px;
   padding: 0px 30px;
   font-size: 16px;
   font-weight: 400;
   margin-top: 1.5rem;
   border-radius: 2rem;
   width: 25%;
   border-bottom: 3px solid var(--golden_color);
   cursor: pointer;
   transition: all .5s ease;
 }

 form  .submitBtn:focus,
 form  .submitBtn:hover{
   /* pointer-events: none; */
   opacity: 0.8;
 }